class MySQL:
    host: str = "localhost"
    port: int = 3306
    user: str = "root"
    password: str = "password"
    database: str = "rapid_wire"

    @classmethod
    def to_dict(cls) -> dict[str, str|int]:
        return {
            "host": cls.host,
            "port": cls.port,
            "user": cls.user,
            "password": cls.password,
            "database": cls.database,
        }

class Discord:
    token: str = "BOT_TOKEN"
    admins: list[int] = []

class APIServer:
    host: str = "0.0.0.0"
    port: int = 8000

class RapidWireConfig:
    class Contract:
        max_cost: int = 100
        max_script_length: int = 2000

    class Staking:
        rate_change_timelock: int = 604800 # 7 days

    class Swap:
        fee: int = 30 # 0.3%, in basis points

    class Gas:
        currency_id: int = 1156171234942402601
        price: int = 1
